
/* =============================================== */
/*  PAGE CONTENT
/* =============================================== */
.orders-table .btn-icon i {
    color: var(--text-muted);
    transition: color 0.2s ease, transform 0.2s ease;
}
.orders-table .btn-icon:hover i.text-primary { color: var(--primary-bs-color) !important; transform: scale(1.2); }
.orders-table .btn-icon:hover i.text-danger { color: var(--error-color) !important; transform: scale(1.2); }




.page-content { padding: 25px; }
.store-link {
    text-decoration: none;
    color: var(--text-muted);
    margin-right: 15px;
    padding: 6px 15px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 13px;
    transition: all var(--transition-speed) ease;
    text-decoration: none;

}
.store-link.active, .store-link:hover { 
    background-color: #e9f3ec; 
    color: var(--primary-green); 
}

.card-title { 
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 16px;
}

/* For chart placeholder images */

.stat-card .card-body {
     padding: 15px;
     display: flex;
     align-items: center;
    }

.stat-icon { width: 55px; height: 55px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-size: 22px; margin-left: 15px; }
.stat-icon.bg-success-light { background-color: #e6f9f1; }
.stat-icon.bg-warning-light { background-color: #fff8e6; }
.stat-icon.bg-primary-light { background-color: #e7f3ff; }
.stat-icon.bg-info-light { background-color: #e6f7ff; }

.stat-title { margin-bottom: 2px; color: var(--text-muted); font-size: 13px; }
.stat-value { font-size: 22px; font-weight: 700; margin-bottom: 0; }
.stat-card .currency { font-size: 13px; font-weight: 500; color: var(--text-muted); margin-right: 5px; }

.orders-table thead th { background-color: var(--light-gray-bg); border: none; color: var(--text-muted); font-weight: 600; padding: 15px; font-size: 13px; }
.orders-table tbody tr { transition: background-color var(--transition-speed) ease; }
.orders-table tbody tr:hover { background-color: var(--light-gray-bg); }
.orders-table td { padding: 18px 15px; border-bottom: 1px solid var(--border-color); }
.orders-table tbody tr:last-child td { border-bottom: none; }

.badge { padding: 7px 14px; border-radius: 8px; font-size: 12px; font-weight: 600; }
.bg-status-success { background-color: #e6f9f1; color: #28a745; }
.bg-status-danger { background-color: #fdeeee; color: #dc3545; }
.bg-status-warning { background-color: #fff8e6; color: #ffc107; }

.btn-icon { background: none; border: none; }
.btn-icon i { font-size: 16px; transition: transform 0.2s ease; }
.btn-icon:hover i { transform: scale(1.2); }


/* ========================Dash========================== */
.card-body .apexcharts-canvas {
    margin: 0 auto; 
}

.apexcharts-xaxis-label, .apexcharts-yaxis-label {
    font-family: 'Cairo', sans-serif !important;
    font-weight: 600 !important;
}

.apexcharts-tooltip {
    display: none !important;
}

